header {
    /* setting header element (child of body grid) to span column lines 1 to 3 */
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex; /* use flex to position logo and links correctly */ 
    align-items: center; /* center logo and nav elements in y plane */
    justify-content: space-between; /*space logo and nav links either side of screen */
    /* padding: 10px; */
    margin: 10px;
  }
  
  header h1 {
    font-family: "Plaster", sans-serif;
    font-size: 50px;
    color: rgba(49, 40, 29, 1);
  }

  header nav a {
    color: rgba(49, 40, 29, 1);
    text-decoration-color: rgba(49, 40, 29, 1);
    font-family: "Plaster", sans-serif;
    font-size: 50px;
  }