.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-main h2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-main form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-main form input, textarea {
    width: 50%;
}

.contact-main form textarea {
    height: 50%;
}

