.page-wrapper {
grid-column: 1/3; /* Setting main element (child of body grid) to span column lines 1 to 3 */
display: grid;
grid-template-rows: 1000px auto auto auto;
}

#about {
grid-column: 1/3;
}

#work {
grid-column: 1/3;
}
  
#contact {
grid-column: 1/3;
}
